.links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    position: fixed;
    top: 40%;
    right: 5rem;
}


.fnt{
    object-fit: contain;
    height: 2.2rem;
    width: auto;
    color: white;
}

.fnt:hover{
    transform: scale(1.1);
}

@media (max-width:480px) {
    .links{
        flex-direction: row;
        position: relative;
        top: 30rem;
        left: 25%;
    }
    .fnt{
        height: 2rem;
    }
}

